* {
    margin: 0;
    padding: 0;
}

body {}

/* header section */
.main-container {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    background-size: cover;
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 40px;
}

.contain1 {
    margin-top: 100px;
}

.contain1 h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.contain1 p {
    font-family: Loto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
    margin: 15px 0;
}

.btn {
    border: none;
    background-color: #E55473;
    padding: 15px 35px;
    color: white;
    border-radius: 5px;
    position: absolute;
}

.contain2 img {
    width: 400px;
    height: 500px;
    margin-top: 100px;
    font-style: normal;
}

/* Our Featured Flowers */
.flowers {
    background-color: white;
    height: 100vh;
}

.flower-title {
    text-align: center;
    margin: 55px;
    position: relative;

}

.flower-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flower-item {
    width: 100%;
    height: auto;
}

.item1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.item2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.item3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* Hot Deal ! Sale Up To 25% Off */
.deal {
    background: rgba(229, 84, 115, 0.05);
width: 100%;
height:auto;
}

.deal-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.deal-item{
    text-align: center;
}
.deal-item h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 15px 0;
}
.deal-item p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 15px 0;
}
.deal-img img{
    width: 300px;
    height:350px;
}

/* Instagram */
.main-ints{
    padding: 80px;
    position: absolute;
}
.inst-title{
    margin-left: 100px;
    text-align: center;
}
.inst-img{
    display: flex;
    margin: 50px 0;
}
.box{
    display: block;
    width: 20%;
    margin: 15px;
}
.box img{
    width: 100%;
}
/* Get The Latest Deals */
.get-pitu{
    background-image: url("Flower Asset/Rectangle\ 9.png");
    padding: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    margin-right: 70px;
}
.get-pitu h2{
    color: #272727;;
    margin:10px 0;
    font-size: 30px;
    font-weight: 800;
    font-family: Lato;
}